{% extends 'blog/base.html' %}
{% load static %}

{% block title %}

ColonDev

{% endblock %}


{% block content %}

<div class="landing">

	<div class="left-landing">

		<h1>welcome to <span style="color:#0ffa02">ColonDev</span></h1>

		<p>where we bring to you the latest technologies, tools, methods and industry standard techniques</p>
		
	</div>

	<div class="right-landing">

		<p>already have an account with us?</p>
		<a class="login" href="{% url 'login' %}">login</a>

		<p>don't have an account?</p>
		<a class="reg" href="{% url 'register' %}">register</a>
		
	</div>
	
</div>


{% endblock %}